html {
  font-family: "Karla", sans-serif;
  box-sizing: border-box;
}

body {
  padding: 15px;
}

header {
  background: linear-gradient(#9be8e8, #ffffff);
  padding: 20px;
  border-radius: 10px;
}

h1 {
  font-size: 44px;
  text-align: center;
}

p,
li {
  font-size: 20px;
}

h2 {
  background-color: rgb(87, 128, 128);
  color: white;
  padding: 7px;
  border-radius: 10px;
}

.headerpiccontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.headerpic {
  width: 250px;
  border-radius: 15px;
}

.navigation {
  background-color: white;
  font-size: 22px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  top: 20px;
}

.navigation-item {
  padding: 10px;
  border-radius: 6px;
  color: black;
  text-decoration: none;
}

a:hover {
  background-color: rgb(87, 128, 128);
  color: white;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.galleryImage {
  width: auto;
  height: 200px;
}

footer {
  text-align: center;
  background-color: rgb(155, 232, 232);
}

.footertext {
  font-size: 16px;
  font-style: italic;
}

.startoben {
  padding: 4px 7px;
  text-decoration: none;
  background-color: rgb(220, 73, 11);
  color: white;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
